page/*
!page/index.html
!page/default.html
!page/blank.html
!page/belair.html
!page/css_practice_start.html
!page/css_practice_voila.html
env.*
shared/log/*
shared/pids/*
shared/sockets/*
!shared/log/.keep
!shared/pids/.keep
!shared/sockets/.keep
