*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;

  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
}
*:focus{
  outline:0
}
html{
  background-color:#fff;
  color:#444;
}
body{
  max-width:600px;
  padding:10px 40px;
  font-family:"Andale Mono", monospace;
  font-size:18px;
  line-height:36px;
  text-align:center;
}
div{
  position:relative;
}
input, textarea{
  outline:none;
}
a, button, label{
  cursor:pointer;
}

h1{
  font-size:36px;
}
h1,h2,h3,h4,h5,h6,
button, .button,
p, img, dl{
  margin:10px auto 5px auto;
}
button, .button,
img, .img{
  border-radius:5px;
}
li{
  text-align:left;
  border-bottom:1px dashed #ccc;
}
kbd{
  display:inline-block;
  width:50%;
  text-align:right;
  font-weight:bold;
  color:#808;
}

button, .button{
  display:block;
  padding:10px 20px;
  text-decoration:none;
  letter-spacing:2px;
  font-weight:bold;
  border:1px solid #c8c;
  background-color:#c8c;
  color:#fff;
  transition: 0.1s background-color, 0.1s color;
  -webkit-transition: 0.1s background-color, 0.1s color;
}
button:hover, .button:hover{
  background-color:#808;
  color:#fff;
}

a{
  text-decoration:underline;
}
a:hover{
  color:#cac;
}
strong{
  font-weight:bold;
}
em{
  font-style:italic;
}

.img{
  background-position:center center;
  overflow:hidden;
}
.img a{
  display:block;
  height:100px;
  text-decoration:none;
  font-weight:bold;
  color:inherit;
  background-color:rgba(255,255,255,0.8);
  transition:opacity 0.2s;
}
.img.off a:hover,
.img a{
  opacity:0;
}
.img.off a,
.img a:hover{
  opacity:1;
}
.img.scatter{
  background-image:url("/img/scatter.jpg");
}
.img.sheet{
  background-image:url("/img/sheet.jpg");
}
.img.belair{
  background-size:cover;
  background-image:url("/img/belair.jpg");
}
