*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
}
*:focus{
  outline:0;
  outline-offset:0;
}
html{
  font-size:14px;
  background-color:#fff;
}
body{
  font-family: "Andale Mono", monospace;
  font-size:0;
}
div{
  position:relative;
}
textarea{
  outline:none;
  resize:none;
}
a, button, label{
  cursor:pointer;
}
button, .button{
  text-align:center;
}
header{
  font-size:1rem;
}
#create{
  font-size:1rem;
}

.tiles>*{
  color:#cfc;
  height:36px;
  display:inline-block;
  line-height:36px;
  background-color:#444;
  box-shadow:1px 1px 3px 0px #000;
}
#create textarea:hover{
  background-color:#555;
}
#create textarea:focus{
  background-color:#555;
  box-shadow:0px 0px 4px 0px #0f0;
}

.draggable>*{
  cursor:move;
}
.htmlTag{
  color:#c6c;
}
.specialChar{
  color:#960;
}

header{
  text-align:center;
  line-height:18px;
  background-color:#333;
  color:#999;
}
h1{
  font-weight:bold;
}
h1 a{
  display:block;
}
#message{
  transition:0.2s color;
}
.err{
  color:#fff;
}

nav{
  font-size:0;
}
nav>*{
  display:inline-block;
  width:20%;
  vertical-align:bottom;
}
nav>div{
  width:80%;
}
nav input{
  display:block;
  width:100%;
  padding:0 5px;
  line-height:18px;
  font-size:1rem;
  box-sizing:border-box;
  border-bottom:1px dashed #444;
}
nav input::placeholder{               color:#666; }
nav input::-ms-input-placeholder{     color:#666; }
nav input:-ms-input-placeholder{      color:#666; }
nav input::-webkit-input-placeholder{ color:#666; }
nav input:focus,
header a:hover{
  background-color:#555;
}
nav a{
  height:36px;
}
nav a:before{
  content:"";
  display:inline-block;
  height:20px;
  width:20px;
  margin-top:8px;
  background-image:url("/img/controls.png");
  background-repeat:no-repeat;
}

.home:before{
  background-position:center -20px;
}
.blank:before{
  background-position:center -40px;
}
.email:before{
  background-position:center -60px;
}
.save:before{
  background-position:center -80px;
}
.amazon:before{
  background-position:center -100px;
}

#create{
  z-index:1;
}
#main-nav{
  z-index:3;
}
#create textarea{
  z-index:4;
}
#create textarea:focus
#create textarea:active,
#create textarea:hover{
  z-index:5;
}
#frame{
  z-index:6;
}
#sub-nav{
  z-index:7;
}

#createWrap,
#frame{
  background-color:#fff;
}
#frame{
  display:block;
}
#createWrap{
  background-color:#222;
  direction:rtl;
}
#create, header{
  direction:ltr;
}

body{
  position:relative;
  width:100vw;
  min-width:600px;
}
#createWrap,
#frame{
  width:50%;
  height:100vh;
}
#createWrap{
  overflow-x:hidden;
}
#frame{
  position:absolute;
  top:0;
  left:50%;
}

#createWrap{
  display:flex;
  flex-direction:column;
}
#create{
  flex-grow:1;
}
